body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.navigācija {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background: #000000;
}

.logo {
    color: #e74c3c;
    text-decoration: none;
    font-size: 1.5rem;;
}

.saite {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    transition: background-color 0.3s ease;
}

.saite:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.galvenāLapa {
    position: relative;
    background-image: url('/static/images/bilde.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.galvenāLapa::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.saturs {
    position: relative;
    z-index: 2;
}

.saturs h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.pogas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pogas .poga {
    margin: 10px;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 30px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
}

.pogas .pogasarkana {
    background: #e74c3c;
    color: white;
}

.pogas .pogasarkana:hover {
    background: #c0392b;
}

.grafiki {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.grafiki h1{
    border-bottom-color: #e74c3c;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}