<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azartspēļu analīze</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <div class="navigācija">
          <a href="{{ url_for('index') }}" class="logo"><i class="fas fa-dice"></i></a>
          <div class="saites">
              <a href="{{ url_for('lejupielāde') }}" class="saite">Lejupielādēt</a>
              <a href="{{ url_for('grafiki') }}" class="saite">Grafiki</a>
      </div>
    </div>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
